<html>
  <head>
  	<title> ROCK-PAPER-SCISSORS-SPOCK-LIZARD </title>
    <link href="application.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<h1> ROCK-PAPER-SCISSORS-SPOCK-LIZARD </h1>

  	<h3> Choose! </h3>
  	<ul>
  		<button data-pick='rock'> Rock </button>
  		<button data-pick='paper'> Paper </button>
  		<button data-pick='scissors'> Scissors </button>
  		<button data-pick='spock'> Spock </button>
  		<button data-pick='lizard'> Lizard </button>
      <div class="messagetwo"></div>
      <div class="message"></div>
      <p>Win count: &nbsp;<div class="wins"></div> &nbsp;</p>
      <p>&nbsp;Computer Win count: &nbsp; <div class="compwin"></div></p>

  		<script src="javascript/lib/RockPaperScissors.js"> </script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  		<script>
  			var Michael = new Player('Michael');
  			var Jack = new Player('Jack');
  			var game = new Game(Michael, Jack);

  			$('button').on('click', function() {

  				options = ['rock', 'paper', 'scissors', 'spock', 'lizard']
  				var option = options[Math.floor(Math.random()*options.length)]

  				Michael.picks(option);
  				Jack.picks($(this).data('pick'));
		        $('.message').html(game.outcome(Michael, Jack));
		        $('.messagetwo').html(game.winner(Michael, Jack));

		        $.post('/win', { result: game.winner(Michael, Jack) }, function(wins) {
		        	$('.wins').html(wins)
		        })

		        $.post('/computerwin', { result: game.winner(Michael, Jack) }, function(comp) {
		  			$('.compwin').html(comp)
		  			console.log(wins)

		        })

		    })

  		</script>
  </body>
</html>