body {
  background-image: url('./skull.jpg');
  background-size: 100%;
  font-family: 'Audiowide', cursive;
  color: #FFFFFF ;
  text-align: center;
}

button {
  background: transparent;
  font-family: 'Audiowide', cursive;
  color: #FFFFFF
}

button:hover {
  background-color: #1E90FF
}

.message {
  margin-top: 50px;
  color:#1E90FF;
  font-size: 400%;
}

.messagetwo {
  margin-top: 20px;
  color:#FFFFFF;
  font-size: 200%;
}

.wins {
  display: inline-block;
}

p {
  display: inline-block;
}

.compwin {
  display: inline-block;
}

